EpsilonPrimeV2.1/epsilon_telegram_workflow.json
{
  "name": "Epsilon Prime Telegram Uplink",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "epsilon-telegram-uplink"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/v1/chat/completions",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"messages\": [{ \"role\": \"user\", \"content\": $json.message.text }], \"model\": \"epsilon-prime-cli\" }) }}",
        "options": {}
      },
      "id": "ask-epsilon",
      "name": "Ask Epsilon Prime",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$json.choices[0].message.content}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "reply-telegram",
      "name": "Reply via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Ask Epsilon Prime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Epsilon Prime": {
      "main": [
        [
          {
            "node": "Reply via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
