EpsilonPrimeV2.1/telegram_v2_sovereign.json
{
  "name": "Epsilon Prime Telegram Polling (V2)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "QdDdSN8YnT9Ap8mx"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let text = item.json.message.text || '';\n  text = text.replace(/[\"\\r\\n]/g, ' ').trim();\n  return {\n    json: {\n      ...item.json,\n      sanitized_text: text\n    }\n  };\n});"
      },
      "name": "Sanitize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"messages\": [ { \"role\": \"user\", \"content\": \"{{$json.sanitized_text}}\" } ], \"model\": \"epsilon-prime-v2.1\" }",
        "options": {}
      },
      "name": "Hit Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Reply to User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "QdDdSN8YnT9Ap8mx"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Sanitize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Input": {
      "main": [
        [
          {
            "node": "Hit Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hit Bridge": {
      "main": [
        [
          {
            "node": "Reply to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}